extends baseEmail

block content
  tr
    td.wrapper(style="font-family: Helvetica, sans-serif; font-size: 16px; padding: 24px;")
      p Hi #{fullName},
      p Thank you for reaching out to us. We've successfully received your message and will get back to you as soon as possible.
      p Here is a copy of your message:
      ul
        li
          strong Subject: 
          | #{subject}
        li
          strong Message:
          br
          | #{messageBody}
      p If this wasn’t you, please ignore this message.
      p Best regards,
      p The Hessah Support Team