doctype html
html
  head
    title Hessah Team Api
  body
    header
      h1 Welcome to Hessah Team api !
    main
      block content
    footer
      p © #{new Date().getFullYear()} Hessah Team. All rights reserved.